.header {
	display: flex;
	align-items: center;
	gap: 1em;
	margin-bottom: 1em;
}

.unread {
	background-color: var(--blue);
	color: var(--white);
	border-radius: 8px;
	padding: 0 0.6em;
	font-size: 1.5em;
}

.notifications {
	display: flex;
	flex-direction: column;
	gap: 0.5em;
}
